div.dockEnd {
    display: block;
    height: 100px;
    width: 31px;
    background: url(https://geosn0w.github.io/j/imgres/dock.png) bottom left no-repeat;
}
 div.dockEnd.left {
    position: absolute;
    bottom: 0px;
}
 div.dockEnd.right {
     background-position: right bottom;
     position: absolute;
     top: 0px;
     right: 0px;
}
 ul.CoreUtilsDock {
    display: inline-block;
    height: 130px;
    padding: 0 40px 0 0;
    background: url(https://geosn0w.github.io/j/imgres/dock.png) no-repeat right bottom;
    overflow: hidden;
    margin: 0 0 0 40px;
}
 ul.CoreUtilsDock li {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 55px 0 0px 0;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: -webkit-transform margin;
    text-align: center;
}
 ul.CoreUtilsDock li a {
     display: block;
     height: 50px;
     padding: 0 1px;
     -webkit-transition: 0.15s linear;
     -webkit-transition-property: -webkit-transform margin;
     margin: 0;
     color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}
 ul.CoreUtilsDock li a img {
    width: 48px;
}
 ul.CoreUtilsDock li:hover {
     margin-left: 9px;
     margin-right: 9px;
     z-index: 200;
}
 ul.CoreUtilsDock li:hover a {
     -webkit-transform-origin: center bottom;
     -webkit-transform: scale(1.5);
}
 ul.CoreUtilsDock li.nearby {
     margin-left: 6px;
     margin-right: 6px;
     z-index: 100;
}
 ul.CoreUtilsDock li.nearby a {
     -webkit-transform-origin: center bottom;
     -webkit-transform: scale(1.25);
}
 ul.CoreUtilsDock li span {
     background: rgba(0,0,0,0.75);
     position: absolute;
     bottom: 80px;
     margin: 0 auto;
     display: none;
     width: auto;
     font-size: 11px;
     font-weight: bold;
     padding: 3px 6px;
     -webkit-border-radius: 6px;
     color: #fff;
}
 ul.CoreUtilsDock li:hover span {
     display: block;
}
 div#appDrawer {
    position: fixed;
    bottom: 0px;
    height: 120px;
    padding: 90px 0 0;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    width: 100%;
    line-height: 1;
    z-index: 100;
}
 div#wrBegin {
    width: auto;
    display: inline-flex;
    position: relative;
    line-height: 0;
}
 #appDrawer, #appDrawer * {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
}
