@charset "utf-8";

body, html {
	position:relative;
	overflow-x: hidden;
	overflow-y: hidden;
	width:100%;
	height:100%;
	margin:0;
}

.springboard {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('./CoreServices/imgres/CoreWallpaper.png');
		background-color: #000;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		overflow: hidden;
		opacity: 0;
}

.footer_background {
		background-image: url('./CoreServices/imgres/CoreWallpaper.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: bottom;
}

.home_page {
	position:relative; overflow:hidden;
	width:100%; height:100%;
	opacity:0;
	overflow-y:auto; -webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	background:none !important;
}
div {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
@font-face {
	font-family: iphone;
	src: url("iphone.otf") format("opentype");
}

@font-face {
	font-family: iphone-condensed;
	src: url("iphone-condensed.otf") format("opentype");
}

@font-face {
	font-family: iphone-lite;
	src: url("iphone-lite.otf") format("opentype");
}

.icon-box {
	position:relative;
	display:inline-block;
	width:calc((100% / 4) - 4px);
	text-align:center;
	padding:0;
	margin:0; margin-top:1vh;
	-webkit-user-select: none !important;
	-webkit-user-callout: none !important;
	-webkit-touch-callout: none !important;
}

.icon-box-footer {
	position:relative;
	display:inline-block;
	width:calc((100% / 4) - 4px);
	text-align:center;
	padding:0;
	margin:0; margin-top:1vh;
	-webkit-user-select: none !important;
	-webkit-user-callout: none !important;
	-webkit-touch-callout: none !important;
}

.icon {
	width:10.5vh;
	height:10.5vh;
	cursor:pointer;
	border-radius:18px;
	-webkit-user-select: none !important;
	-webkit-user-callout: none !important;
	-webkit-touch-callout: none !important;
	background-color:rgba(0,0,0,0.5);
}

.icon-description {
	margin-top:2px;
	position:relative;
	color:#fff; font-family:iphone; font-size:2.25vh;
	line-height:1em;
}

.circle {
	display:inline-block;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background-color:#fff;
	margin:7px 8px;
}

.border-box {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;

}

.brightness {
	pointer-events:none;
	position:absolute; top:0; right:0; bottom:0; left:0; background-color:#000; z-index:3147483647;
}
